[submodule "SereniaBLPLib"]
	path = SereniaBLPLib
	url = https://github.com/WoW-Tools/SereniaBLPLib.git
[submodule "DBCD"]
	path = DBCD
	url = https://github.com/wowdev/DBCD.git
[submodule "CascLib"]
	path = CascLib
	url = https://github.com/WoW-Tools/CascLib
[submodule "Warcraft.NET"]
	path = Warcraft.NET
	url = https://github.com/Marlamin/Warcraft.NET
[submodule "TACT.Net"]
	path = TACT.Net
	url = https://github.com/wowdev/TACT.Net
